body {
    background-color: #d4d4d4;
    color: rgb(196, 190, 190);
    font-family: sans-serif;
}

svg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.node {
    background-color: #2e2e2e77;
    display: inline-block;
}

.node:before {
    content: attr(title) " ";
    display: block;
    background-color: #9c5113;
}

.slot{
    display: inline-block;
}

.slot:hover{
    background: #dbc04677;
}

.slot_edit{
    width: 100px;
}

.overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 1001;
}

.dialog{
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: white;
    overflow: auto;
    z-index: 1002
}
